@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,385;1,385&family=Pacifico&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap");

@layer reset, token, base, components, utilities, overrides;

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Theme */
@layer token {
  :root {
    /** Base colors */
    --clr-primary: #1cbcc7;
    --clr-body-color: #18181b;
    --clr-light-a0: #d1cbcb;
    --clr-dark-a0: #000000;
    --clr-white: #ffffff;

    /* Border Style */
    --clr-border: #767676;

    /* Circle Style */
    --clr-green: #0bff0b;
    /* Card Style  Bg*/
    --clr-card-bg: #1c1c20;

    /* Font Style */
    --font-family-body: "Roboto", sans-serif;
    --font-family-text: "Libertinus Serif", serif;
    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-family-title: "Libertinus Keyboard", system-ui;

    /* Font size  */
    --font-size-xs: clamp(0.75rem, 1.5vw, 0.875rem); /* Extra Small */
    --font-size-sm: clamp(0.9rem, 3vw, 1rem); /* Small */
    --font-size-md: clamp(1rem, 2.5vw, 1.25rem); /* Medium (base text) */
    --font-size-lg: clamp(1.25rem, 4vw, 1.75rem); /* Large */
    --font-size-xl: clamp(1.75rem, 6vw, 2.5rem); /* Extra Large */
    --font-size-xxl: clamp(2.5rem, 8vw, 3.5rem); /* Hero / Headings */
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-body);
    background-color: var(--clr-body-color);
    position: relative;
    display: grid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  details {
    color: var(--clr-light-a0);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--clr-light-a0);
    cursor: pointer;
    width: fit-content;
  }

  header {
    padding-block: 2em;
    @media (max-width: 800px) {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      background-color: var(--clr-body-color);
    }
  }

  .title-section {
    border-bottom: 1px solid var(--clr-border);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
  }

  .lang {
    width: 50px;
  }

  .close {
    align-self: flex-end;
  }

  .icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .my-icons,
  .project-card,
  .about {
    padding-block: 2em;
  }

  @media (min-width: 800px) {
    .menu-bar {
      display: none;
    }
  }

  /* Smooth Transition Combining max-h and overflow : hidden */
  nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    @media (min-width: 800px) {
      max-height: 100%;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    padding-top: 2rem;

    @media (min-width: 800px) {
      flex-direction: row;
      padding-top: 0;
    }
  }

  a {
    text-decoration: none;
    font-size: var(--font-size-sm);
  }

  a:hover {
    color: var(--clr-primary);
  }

  .aq {
    background-color: var(--clr-primary);
  }

  .social-media {
    display: flex;
    gap: 0.5rem;
  }

  .social-media img {
    width: 25px;
    aspect-ratio: 1 / 1;
  }

  .social-media img:hover {
    transform: rotate(-30deg) translateY(-30%);
    transition: 0.2s ease-in-out;
  }

  /* Main */
  main {
    min-height: 70vh;
    display: grid;
    align-items: center;
  }

  /* Footer */
  footer {
    padding-block: 2em;
  }

  footer > * {
    font-size: var(--font-size-xs);
    text-align: start;
  }
}

@layer components {
  /* Width Style */
  .wrapper {
    width: min(750px, 80%);
    margin-inline: auto;
  }

  /* Header */
  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 800px) {
      flex-direction: row;
      align-items: center;
    }
  }

  /* My Logo */
  .logo {
    display: flex;
    justify-content: space-between;
  }

  /* Active Styles */
  .active {
    color: var(--clr-primary);
  }

  /* Main */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 5em;
  }

  .main > p {
    opacity: 0.8;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-thin);
    line-height: 1.5;
  }

  .main h1 {
    font-size: var(--font-size-lg);
  }

  .download-cv {
    background-color: var(--clr-light-a0);
    color: var(--clr-dark-a0);
    padding: 0.8em 1.5em;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
    width: fit-content;
    display: flex;
  }

  .download-cv:hover {
    background-color: var(--clr-card-bg);
    color: var(--clr-light-a0);
    border: 1px solid var(--clr-light-a0);
  }

  .lek {
    border-radius: 100%;
    width: 150px;
    padding: 0.5em;
    background-color: var(--clr-card-bg);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    @media (min-width: 800px) {
      width: 250px;
    }
  }

  .icon-main {
    display: flex;
    gap: 0.2rem;
  }

  .icon-main > div {
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 100%;
    background-color: var(--clr-card-bg);
  }

  .icon-main > div:hover {
    background-color: var(--clr-body-color);
  }

  .icon-main > div > a > img {
    width: 20px;
  }

  /* About Me */
  .about-me {
    @media (min-width: 800px) {
      padding-top: 5em;
    }
  }
  .about {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
  }

  /* Skills and Tools */
  .my-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .my-icons img {
    width: 40px;
  }

  .my-icons > div {
    background-color: var(--clr-card-bg);
    padding: 0.6em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }

  .my-icons > div:hover {
    background-color: var(--clr-body-color);
  }

  /* Project */
  .project-card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  }

  .project-lists {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-card-bg);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }

  .project-lists:hover {
    background-color: var(--clr-body-color);
  }

  .project-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project-top {
    display: flex;
    gap: 0.5rem;
  }

  .project-text {
    display: grid;
    grid-template-rows: 120px;
    gap: 3rem;
    padding: 1em;
    overflow: hidden;
  }

  .project-number {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    color: #d1cbcb;
  }

  .project-title {
    font-size: var(--font-size-sm);
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  .project-tags > * {
    font-size: var(--font-size-xs);
    border: 1px solid var(--clr-border);
    padding: 0.2em 0.5em;
  }

  .project-link {
    display: flex;
    gap: 1rem;
  }

  .project-button {
    border: 1px solid var(--clr-border);
    padding: 0.5em;
    color: var(--clr-light-a0);
    font-size: var(--font-size-xs);
    cursor: pointer;
  }

  .project-button:hover {
    color: var(--clr-white);
  }

  .project-intro {
    font-size: clamp(0.8rem, 2vw, 0.8rem);
    opacity: 0.8;
    flex: 1;
  }

  /* Footer */
  .footer {
    display: grid;
    gap: 2rem;
  }

  .footer-center {
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  .footer-flex {
    display: grid;
    gap: 1rem;
  }

  /* Js Script Toggle - Update the navigation into 0 to 500px*/
  nav.show {
    max-height: 500px;
  }

  /*  */
  .overlay,
  .overlay2 {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .overlayShow {
    display: block;
  }
}

@layer utilities {
  .w-full {
    @media (min-width: 800px) {
      width: 100%;
    }
  }
}
